/* Стили блока с информацией */
.info{
  margin-bottom: 40px;
}

.lessons__btn{
  width: 300px;
  margin: 20px auto;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 20px;
  cursor: pointer;
}

.lessons__btn a{
  display: block;
  padding: 10px;
}

/* ================================== */