@import "nullstyle.css";
@import "header.css";
@import "footer.css";

/* Общие стили */
:root {
  --container-size: 1230px;
}

body {
  height: 100%;
  font-size: 10px;
  box-sizing: border-box;
}

main {
  flex: 1 1 auto;
  padding: 40px 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 2;
}

h2 {
  font-size: 2.2rem;
  line-height: 2;
}

h3{
  font-size: 1.9rem;
  line-height: 2;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: var(--container-size);
  padding: 0 15px;
  margin: 0 auto;
}

.text {
  font-size: 1.6rem;
  text-align: justify;
}

.hidden {
  visibility: hidden;
}

.not-displayed {
  display: none;
}

.lock {
  overflow: hidden;
}

/* ================================== */

/* Стили модального окна */
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.modal__window {
  position: relative;
  width: 600px;
  min-height: 590px;
  background-color: #fff;
  border-radius: 10px;
}

.modal__close-btn{
  position: absolute;
  top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__close-btn {
  right: 20px;
}

.modal__body {
  padding: 20px 20px 0 20px;
}

.modal__item{
  margin-top: 20px;
}

.modal__btn{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(8, 138, 8);
  color: #fff;
  font-size: 1.6rem;
  transition: background-color 0.2s ease-in;
}

.modal__btn:hover{
  background-color: rgb(10, 179, 10);
}

.modal__btn_try-again{
  width: 100%;
  margin-top: 20px;
}

/* ================================== */

/* Стили табов */
.tabs{
  font-size: 1.6rem;
}

.tabs__row{
  display: flex;
}

.tabs__row-item{
  flex-basis: 50%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.tabs__content-item{
  padding: 20px;
}

.tabs__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs__form-legend{
  margin-bottom: 15px;
}

.tabs__form-item{
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.tabs__form-item input[type='radio']{
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.tabs__form-item label{
  flex-grow: 1;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tabs__row-item.active,
.tabs__form-item input[type='radio']:checked + label{
  background-color: #000;
  color: #fff;
}

.tabs__form-btn{
  width: 250px;
  margin-top: 10px;
}

/* ================================== */
